@value colors: "../../colors/colors.css";
@value mGrayBorder, mLightGray, mGray, mDarkGray, mRef, mBlue, mSelected from colors;

.sidebar {
    outline: 1px solid mGrayBorder;
    width: 380px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.button {
    background-color: mDarkGray;
}
.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.hat {
    flex-basis: 30px;
    display: flex;
    align-items: center;
    padding: 0px;
    font-size: 1em;
    background-color: mSelected;
    color: white;
}
.hat i {
    font-size: 1.2em;  
    padding-right: 0.5em;  
}
.hide i {
    font-size: 1.5em;
    position: relative;
    top: 5px;
}
.fPeriod {
    font-size: 0.8em;    
    margin-right: 0px;
    padding: 0;
}
.fPeriod b, .fPeriod a {    
    padding-right: 3px;
}
.fPeriod a { 
    padding-left: 3px;
    text-decoration: none;
}
.fPeriod a.selected {
    text-decoration: underline;
}
/* .fProject {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 10px;
} */
.sidebar label {
    margin-right: 12px; /* Расстояние от текста до текстового поля */
    line-height: 20px; /* Выравниваем по высоте */
}
.sidebar select {
    width: 290px;
}
.sidebar label+input {
    margin-right: 10px; /* Расстояние от текста до текстового поля */    
}
.item {
    flex-basis: 30px;
    padding: 10px;
}
.body > div:not label {
    font-size: 0.8em;
    font-weight: bold;
}
.empty {
    flex-basis: 100vh;
} 
.hide {
    padding: 0;
    border-bottom: 0; 
    border-top: 1px solid mLightGray;   
    text-align: center;
    background-color: mDarkGray;
}
.hideRef:hover {
    font-size: 1.1em;
    padding: 0;
}
.transform { 
    transition-property: all;
    transition-duration: 0.2s;
}
.hideSidebar {
    width: 40px;
}
.hideSidebar .body {
    visibility: hidden;
    position: absolute;
}
.hideSidebar .hat {
    flex-basis: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: mBlue;
}
.hideSidebar .hat span {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    max-width: 50%;
    margin-right: 20px;
}
.hideSidebar:hover {
    width: 50px; 
    cursor: pointer;
}
.hideSidebar .hat:hover {
    background-color: mSelected;   
}
.hat div {
    width: 100%;
    margin: 0;
    padding-left: 20px;
}
.hideSidebar .hat div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.hideSidebar .hat div span {
    margin-left: -2px;
}