@import "../colors/colors.scss";

.button {
    display: inline-block;
    margin: 0.1em;
    border: 1px solid $mSelected;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    position: relative;
    width: fit-content;

    &:hover{
        border-color: $mGrayBorder;
    }
    &:active{
        background-color: $mSelected;
        color: white;
    }

    i {
        padding-left: 0.1em;
        font-size: 1.2em;
        position: relative;
        top: 0.2em;
        padding-right: 5px;
    }
}
.gray {
    color: $mRef;
    background-color: $mGray;        
}
.blue {
    color: white;
    background-color: $mDarkBlue;
    &:hover {
        background-color: $mBlue;        
    }
}
.vk {
    color: white;
    background-color: #597da0;
    &:hover {
        background-color: $mBlue;
    }
}