.main {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 10px 15px;
    font-size: 18px;
}
.nothingYet {
    font-size: 24px;
    color: #678;
}