*{
    margin:0;
    padding:0;
    line-height: 1.5em;
  }
  .part1 {
    width:940px;
    height:800px;
    background-color:#1d5fb7;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  }
  .part1, .part2, .part3 {
    color: white;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  h2 {
    font-size: 2em;
  }
  header {
    width: 900px;
    margin-bottom: 4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;  
  }
  .wrapper a {
    color: white;
    border: 2px solid white;
    background-color: #ff8f29;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1em;
    font-size: 1.2em;
    width: fit-content;
  }
  .part1 article {
    width: 700px;
    line-height: 1.5em;
    margin: 4em;
  }
  .part1 article ul {
    text-align: justify;
    width: 80%;
    margin: 1em 10%;
    list-style: square;
    line-height: 1.2em;
  }
  .part1 article li {
    margin-top: 1em;    
  }
  #input {
    margin: 0;
    background-color: #1d5fb7;
  }
  img {
    display: block;
    padding: 1em;
    width: 300px;
  }
  .wrapper a:hover {
    background-color: #1d5fb7;
  }
  #input:hover {
    background-color: #ff8f29;
  }
  .wrapper{
    width:940px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
  }
  .wrapper:nth-child(1) {
    background-color:#dceefc;
  }
  .wrapper:nth-child(2) {
    background-color:white;
  }
  .part2, .part3 {
    width:940px;  
    margin: auto;
    color: black;
    line-height: 1.5em;
  }
  .part2 {
    height:400px;
  }
  .part3 {
    height: fit-content;
  }
  .part2 {
    background-color:#dceefc;
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
  }
  .part2 a {
    border-color: #dceefc;
  }
  
  .part2 h2, .part3 h2 {
    margin: 1.5em;
  }
  .part2 p, .part3 p {
    width: 600px;
    text-indent: 2em;
    text-align: justify;
  }
  .gallery img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  
  .gallery {
    display: grid;
    grid-template: 1fr 1fr 1fr / 100px 100px 100px 100px 100px 100px;
    grid-row-gap: 0.5em;
    width: 80%;
    padding-left: 80px;
    margin: auto;
  }
  
  footer {
    width:940px;
    margin: 0 auto;
    height:200px;
    background-color:#1d5fb7;
    clip-path: polygon(0 60%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 1em;
  }