$color: #777777;
.content {
    color: $color;
    h2 { 
        font-size: 1em; 
        font-weight: 500;
    }

    .info {
        display: flex;
        font-size: 0.8em;
        i {
            border: 1px solid $color;
            height: 20px;
            width: 20px;
            padding-left: 2px;            
            border-radius: 10px;
        }
        p { 
            margin-left: 10px;
            max-width: 900px;
        }
    }

    .socialButtons {
        padding-bottom: 20px;
    }
}