.sidebar {
    border: 1px solid rebeccapurple;
    width: 250px;
    height: 730px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.hide, .userSection, .item, .exit {
    display: flex;
}
.hide, .userSection, .item {
    border-bottom: 1px solid rebeccapurple;    
}
.userSection a {
    margin: auto;
}
.exit {
    border-top: 1px solid rebeccapurple;
}
.button {
    flex-basis: 40px;
    line-height: 30px;
    text-align: center;
}
.userSection {
    flex-basis: 70px;
}
.item {
    flex-basis: 55px;
    line-height: 40px;
}
.empty {
    flex-basis: auto;
    height: 730px;
    background-color: beige;
}
.sidebar a {
    text-decoration: none;
    color: rebeccapurple;
}
.item a, .button a {
    display: inline-block;
    width: 100%;        
}
.item a {
    padding-left: 10px;
}
.item a:hover, .button a:hover {
    background-color: beige;
}
.active, .active a:hover {
    background-color: blue;
}
.active a:hover, .active a {
    color: white;
}