<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sidebar</title>
    <link rel="stylesheet" type="text/css" media="screen" href="lsidebar.css" />
</head>
<body>
    <div class="sidebar">
        <div class="button hide"><a href="#">Свернуть</a></div>
        <div class="userSection"><a href="#">ih8unem@gmail.com</a></div>
        <div class="item active"><a href="#">Посты</a></div>
        <div class="item"><a href="#">Аккаунты</a></div>
        <div class="item"><a href="#">Блог</a></div>
        <div class="empty"></div>
        <div class="button exit"><a href="#">Выйти</a></div>
    </div>    
</body>
</html>