.sidebar {
    border: 1px solid rebeccapurple;
    width: 380px;
    height: 730px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
div {
    border-bottom: 1px solid rebeccapurple;    
}
.hat {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.2em;
}
.item {
    padding: 10px;
}
.sidebar > div:not(.accountFilter) label {
    font-size: 0.8em;
    font-weight: bold;
}
.empty {
    height: 100vh;
}
.hide {
    border-bottom: 0; 
}
.transform { 
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}
.hideSidebar {
    width: 50px;
}
/* .hideSidebar div {
    opacity: 0;
} */
.hideSidebar div:not(.hat) {
    visibility: hidden;
    position: absolute;
}
.hideSidebar .hat {
    height: 100vh;
}
.hideSidebar .hat span {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    border: 1px solid;
}