@import "../../colors/colors.scss";
.button {
    text-align: center;
    display: flex;    
    align-items: center;
    height: inherit;

    span {
        overflow: hidden;
        white-space: nowrap;
        padding-left: 0.2em;
        padding-right: 1em;
    }
    i {
        font-size: 1.5em;
        margin-left: 10px;  
        position: relative;
        top: 2px;
    }    
    &.clickable:hover:not(.selected) {
        cursor: pointer;
        background-color: $mGray;
    }
}
.left { 
    justify-content: flex-start; 
    margin-left: 10px;
}
.clickable {
    i, span {
        color: $mRef;
    }    
}
.selected {
    background-color: $mSelected;
    i, span { color: white; }
}
