.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 50%;

	& > input {
		height: 2.5em;
		visibility: hidden;
	}

	& > input:checked + label {
		background: white;
		color: #444;
		position: relative;
		z-index: 6;
		border: 1px solid;
		border-bottom: none;
	}

	& > label {
		background: #f9f9f9;  /* Fondo de las pestañas */
		border-radius: .25em .25em 0 0;
		color: #888;  /* Color del texto de las pestañas */
		cursor: pointer;
		display: block;
		float: left;
		font-size: 1em;  /* Tamaño del texto de las pestañas */
		height: 2.5em;
		line-height: 2.5em;
		margin-right: .25em;
		padding: 0 1.5em;
		text-align: center;

		&:hover {
			background: #ddd;
			color: #666;		
		}		

		i {
			position: relative;
			top: 2px;
			color: #597da0;
		}
	}

	.content {
		border-radius: 0 .25em .25em .25em;
		min-height: 20em;
		position: relative;
		width: 100%;
		z-index: 5;
		top: -8px;
		border-top: 1px solid;

		& > div {
			opacity: 0;
			padding: 1.5em;
			position: absolute;
			z-index: -100;
		}
	}

	.tab1:checked~div>.content1,
	.tab2:checked~div>.content2,
	.tab3:checked~div>.content3 {
		opacity: 1;
		z-index: 100;
	}	
}