.postDialog {
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 50px;
    margin: auto;
    padding: 0;
    width: 600px;
    height: fit-content;
    font-size: 12px;
    box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
    flex-basis: 60px;
    justify-content: space-between; 

    h2 {
        font-weight: 300;
        font-size: 1.8em;
        margin-top: 10px;
    }
}
.info {
    align-self: flex-start;
    position: relative;
    left: -15px;
    width: 600px;
    padding: 0;
    margin: 0;    

    span {
        position: relative;
        top: -30px;
        font-size: 12px;
        left: 50px;
        padding: 5px;
        background-color: white;
        color: #678;
    }
}
.container textarea {
    margin-top: -20px;
    resize: none;
    width: 100%;    
    height: 55px;
    overflow-y:hidden;

    &:focus::placeholder {
        color: transparent;
    }
}
div.buttons > span {
    margin-right: 5px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
}
.socPages {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #c8c8c8;
    margin-top: 10px;

    h3 {
        font-size: 1em;
    }
}
.refs { 
    span { padding: 0 10px; } 
}
.dialogButtons {
    border-top: 1px solid #c8c8c8;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -15px;
    width: 600px;

    div {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    span {
        margin-right: 5px;
    }
}
.checks {
    margin-top: 10px;
    input {
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
    label {
        cursor: pointer;
    }
}