@import "../colors/colors.scss";
.sa {
    display: grid;
    grid-template-columns: 3fr 2fr 20px 1fr 20px; 
    width: 100%;   
    align-items: center;
    height: fit-content;

    a {
        display: inline-block;
        margin: 5px;
        padding: 3px;
        color: $mDarkBlue;
        &:hover { color: red; }
    }
    span {
        margin-left: 5px;
    }
}