@import "../colors/colors.scss";

.account {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    & > span { width: fit-content; }

    i {
        background-color: mBlue;
        color: white;    
        display: inline-block;    
    }
}
.clickable {
    & > span {
        color: $mRef;
        border-bottom: 1px dotted;    

        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}
.normal {
    i {
        font-size: 14px;
        margin-right: 4px;
        margin-top: 3px;
        border-radius: 8px;
        height: 17px;
        width: 17px;
        padding-left: 1px;
        background-color: $mDarkBlue;
    }
    span {
        font-size: 14px;
    }
}