@value colors: "../colors/colors.css";
@value mBlue, mRef from colors;

.account {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
}
.account > span {
    width: fit-content;
}
.clickable > span {
    color: mRef;
    border-bottom: 1px dotted;      
}
.clickable span:hover {
    color: red;
    cursor: pointer;
}
.account i {
    background-color: mBlue;
    color: white;    
    display: inline-block;    
}

.normal i {
    font-size: 14px;
    margin-right: 4px;
    margin-top: 3px;
    border-radius: 8px;
    height: 17px;
    width: 17px;
}
.normal span {
    font-size: 14px;
}